<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css')}}">
</head>
<body>
    <header>
      <h1>ミニブログを作ってみよう</h1>
    </header>

    <p><a href="{{ url_for('blogs.create') }}" class="jelly-btn">新規投稿</a></p>

    <div>
      <ul>
        {% for blog in blogs %}
          <li class="jelly-card">
            タイトル: 
            <a href="{{ url_for('blogs.detail', blog_id=blog.id) }}">
                {{ blog.title }}
            </a>
            <br>
            本文: {{ blog.body }}<br>
            投稿者: {{ blog.user_name }}<br>
            投稿日時: {{ blog.created_at }}
            <br>
            <a href="{{ url_for('blogs.edit', blog_id=blog.id) }}" class="jelly-btn">編集</a>
          </li>
        {% endfor %}
      </ul>
    </div>
</body>

</html>
